In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv('C:\\Users\\DANIA NIAZI\\Desktop\\COURSES\\MACHINE_LEARNING\\REGRESSION\\Datsets\\dataset.csv')
df

     Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0         1          1             4512                 1530
1         1          1             3738                 1297
2         1          1             4261                 1335
3         1          1             3777                 1282
4         1          1             4177                 1590
..      ...        ...              ...                  ...
232       2          2             3214                 1110
233       2          2             3394                 1215
234       2          2             3233                 1104
235       2          2             3352                 1170
236       2          2             3391                 1120

[237 rows x 4 columns]

In [3]:
reg = linear_model.LinearRegression()
reg.fit(df[['Gender','Age Range','Head Size(cm^3)']],df['Brain Weight(grams)'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [4]:
reg.predict([[2,1,4424]])

array([1475.90063624])

In [5]:
reg.predict([[1,1,3739]])

array([1331.15884178])